# Configuration pour Docker / AWS

# Backend
SECRET_KEY=votre_cle_secrete_ici
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,votre_ip_aws
DATABASE_URL=postgres://stroke_user:stroke_pass@db:5432/stroke_db

# APIs
GEMINI_API_KEY=votre_cle_gemini_ici

# Frontend (pour l'URL de l'API)
VITE_API_URL=http://votre_ip_aws:8000/api
